* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--theme-color-background-primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
