/* 
    We're going to implement design tokens to enable fine control over our design system
    Abstracting values out into design tokens makes theming easier
    We can more easily respond to user preferences (e.g. light/dark mode) and accessibility (e.g. big/small text)
    
    We'll use a structure similar to this one:
    https://uxdesign.cc/building-better-products-with-the-design-token-pipeline-faa86aa068e8

    Each tier enables a little bit more control and specificity when editing values
    Tier 3 will be component-specific and will be encapsulated inside each component's file

    :root targets the highest element in the DOM tree
    So to apply a new theme, we can add a class to our HTML element and target that with :root.className{} as a selector

    With this logic, theming can be synthesized (apply more than one theme at once)
    We'll stick to one theme for now

    Naming matters! tier-name-variation, use camelcase when a name or variation is multiple words
*/

:root {
	/* ----- TIER ONE, ALL GLOBAL TOKENS ----- */

	/* Tier 1 Global Colors */
	--global-lightRed: #ffc1c1;
	--global-darkRed: #870101;
	--global-lightGreen: #d3f2cb;
	--global-darkGreen: #3a5732;
	--global-lightOrange: #ffdfad;
	--global-darkOrange: #403a32;

	--global-newsela-primary: #1273f8;
	--global-newsela-dark: #0557d5;
	--global-newsela-light: #c2dbfe;
	--global-black: #2b2b2b;
	--global-white: #fafafa;

	--global-gray: #d9d9d9;

	/* Tier 1 Global Measurements */
	--global-borderRadius-smooth: 4px;
	--global-borderWidth-thin: 1px;
	--global-space-05: 5px;
	--global-space-10: 10px;
	--global-space-15: 15px;
	--global-space-20: 20px;
	--global-space-25: 25px;

	--global-fontSize-main: 14px;
	--global-fontSize-2x: 28px;
	--global-fontSize-4x: 56px;

	--global-transition-15: all 0.15s ease-in;

	/* ----- TIER TWO, ALL THEME TOKENS ----- */

	/* Tier 2 Theme Colors */
	--theme-color-lightRed: var(--global-lightRed);
	--theme-color-darkRed: var(--global-darkRed);
	--theme-color-brand-primary: var(--global-newsela-primary);
	--theme-color-brand-dark: var(--global-newsela-dark);
	--theme-color-brand-light: var(--global-newsela-light);
	--theme-color-background-primary: var(--global-white);
	--theme-color-foreground-primary: var(--global-black);
	--theme-color-white-stable: var(--global-white);
	--theme-color-black-stable: var(--global-black);

	/* Tier 2 Theme Measurements */
	--theme-borderRadius-primary: var(--global-borderRadius-smooth);
	--theme-borderWidth-primary: var(--global-borderWidth-thin);
	--theme-space-average: 10px;

	--theme-padding-shortWide: var(--global-space-10) var(--global-space-25);
	--theme-space-small: var(--global-space-05);

	--theme-border-primary: var(--theme-borderWidth-primary) solid
		var(--global-gray);
	--theme-border-active: var(--theme-borderWidth-primary) solid
		var(--theme-color-brand-primary);

	--theme-transition-average: var(--global-transition-15);

	--theme-fontSize-primary: var(--global-fontSize-main);
	--theme-fontSize-2x: var(--global-fontSize-2x);
	--theme-fontSize-4x: var(--global-fontSize-4x);

	/* Tier 2 Utility */
	--theme-responsive-flexDirection: row;
}

@media (max-width: 800px) {
	:root {
		/* Tier 2 Utility */
		--theme-responsive-flexDirection: column;
	}
}
